.Menu {
  background-color: #7b7b7b;
  height: 100%;

  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 60px;
  text-align: center;
}

.Menu-item{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.Menu a:link, a:visited {
  color: #d3d1d7;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.Menu a:hover {
  color: #d3d1d7;
  background-color: #3b004d;
  width: 100%;
}

.Menu-NavLink-active {
  color: #000000 !important;
  background-color: #7b7b7b !important;
}
