.Menu {
  background-color: #7b7b7b;
  height: 100%;

  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 60px
}

.Menu-left{
  float: left;
}

.Menu a {
  color: #d3d1d7;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.Menu a:hover {

  background-color: #3b004d;
  width: 100%;
}
