/*
 * colors:
 * mischka:   #d3d1d7
 * boulder:   #7b7b7b
 * eminence:  #76298d
 * black:     #000000
 * ripe-plum: #3b004d
 */

html, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000000;
  height: 100%
}

.full {
  height: 100%;
}


.menu-container {
  width: 100%;
}
